/* HEADER OTROS HTMLS HEADER OTROS HTMLS HEADER OTROS HTMLS HEADER OTROS HTMLS HEADER OTROS HTMLS HEADER OTROS HTMLS*/

.cabecera__paginas {
    background-color: ($color-AzulMedio);
    @include grid (1fr 6fr, none, center, center);
    flex-wrap: wrap;
    @extend %Border-10px;
    border-left: solid 10px;
    border-color: ($color-Negro);
    font-family: 'Oswald', sans-serif;
    position: sticky;
}

.cabecera__indexs__paginas {
    @include grid (1fr 1fr 1fr 1fr 1fr 1fr, none, center, center);
    list-style: none;
    padding-left: 15px;
    padding-top: 12px;
}

.cabecera__indexs__items__paginas {
    text-align: center;
    font-style: normal;
    font-size: medium;
    font-weight: 550;
    padding-top: 14px;
    background-color: #f0b342e1;
    @include tamaño (168px, 59px);
    border: solid 2px;
    border-color: ($color-AzulOcuro);
    border-radius: 10%;

    &:hover {
        background-color: #e9c889;
        border: solid 4px;
        border-color: ($color-Mostaza);
        transition-property: border;
        transition-duration: 0.3s;
    }
}

.cabecera__indexs__items__paginas a {
    text-decoration: none;
    color: #000000;
}

.row.g-0 {
    background-color: #242a3f;
    padding: 0.5rem;
}

/*MIND OTROS HTMLS MIND OTROS HTMLS MIND OTROS HTMLS MIND OTROS HTMLS MIND OTROS HTMLS MIND OTROS HTMLS MIND OTROS HTMLS*/

.cuerpo__paginas {
    background-color: ($color-Mostaza);
    border-right: solid 10px;
    border-left: solid 10px;
    border-color: #000000;
    margin-bottom: -1rem;
}

.cuerpo__titulo__paginas {
    border-bottom: solid 6px;
    border-color: #e79e176d;
    padding-top: 2rem;
    @include flex (none, center, none)
}

.cuerpo__titulo__cosas__paginas {
    background-color: #bdbdbd;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    list-style: none;
    padding: 0%;
}

.cuerpo__titulo__cosas__paginas li {
    padding-bottom: 0.5rem;
    background-color: #e9c889;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.cuerpo__articulos {
    border-top: solid 3px;
    padding: 1rem;
    @include grid (1fr 1fr 1fr 1fr, auto, auto, auto);
    justify-items: center;
    gap: 2rem;
}

.prevformulario {
    background-color: #9f9f9f;
    @include flex (auto, center, auto);
    border-bottom: solid 2px;
    padding: 20px;
    margin: 1rem 6rem 1rem 6rem;
    text-align: center;
    font-size: larger;
}

.formulario {
    margin: 1rem 8rem 1rem 8rem;
    padding: 1rem;
    border: solid 1px;
    background-color: #d2d2d2;
}

.contenedor__boton {
    display: flex;
    justify-content: flex-end;
}

.card {
    @include grid (1fr 1fr 1fr 1fr, auto, center, auto);
    justify-items: center;
    align-self: center;

    &-body {
        background-color: #62646732;
        margin: 0.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

li {
    font-size: xx-large;
    border-bottom: solid 3px;
    border-top: solid 3px;
}

.row {
    @include tamaño (100%, 100%);
    margin-left: 0%;
}