/*VARIABLES DE COLORES*/

$color-AzulMedio: #242a3f;
$color-Mostaza: #e99f17;
$color-Blanco: #f5f5f5;
$color-Negro: #000000;
$color-AzulOcuro: #021d3b;

/* MAPS*/

$tamano-tipografia:(
    titulo: 24px,
    subtitulos: 20px,
    parrafos: 16px,
    letra-chica: 12px,
);

/*EXTEND*/

%Border-10px{
    border: solid 10px;
    border-color: #000000;
}

/*MIXIN*/

@mixin grid ($columns, $rows, $justify, $aling){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: $justify;
    align-items: $aling;

}

@mixin flex ($direction, $justify, $aling){
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    
}

@mixin tamaño ($width, $height) {
    width: $width;
    height: $height;
    
}